@font-face {
  font-family: "Montserrat-Thin";
  src: url(../assets/fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --color1: #5F04AA;
}


/* ***************************************************************** */

body {
  font-family: "Montserrat-Medium";
  color: whitesmoke;
}

nav {
  background: rgb(241, 241, 241);
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto; /* m'a permis de centrer l'élément qui s'était décentré en mettant une width */
  /* position: relative; */
}

nav li {
  margin: 20px auto; /* mettre la margin ici m'a permis de créer la grande bande blanche tandis qu'ailleurs ça ne fonctionnait pas... */
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
}

#language {
  background: rgb(207, 207, 207);
  padding: 10px 15px;
  border-radius: 150px;
}

nav li:hover {
  color: #5F04AA;
  font-size: 1.1rem;
}

/* Pour créer la barre au dessus : */
/* Ici elle est que sur le first-child : */
nav li:first-child::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: var(--color1);
  transform: translateY(-30px);
}

/* pour mettre la barre à tous lors du hover : */
nav li:hover::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: var(--color1);
  transform: translateY(-30px);
}

/* Pour ne pas mettre le before sur le FR/EN : */
nav li:last-child::before {
  display: none;
  /* ou lui met : background: none; */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  /* bg */
  background: url(../assets/img/bg.jpg) center/cover no-repeat;
  background-attachment: fixed; /* Pour que le texte défile derrière */
  background-position: 25% 83%;   /* pour mettre la mèche du gars sur le logo comme dans la maquette à 100% taille écran */
  background-size: 100%;
  background-position-y: top;
}

#logo-GC-header {
  width: 100%;
}

#logo-GC-header img {
  display: block;
  margin: 25px auto;
  width: 40%;
  user-select: none;
}

h1 {
  text-transform: uppercase;
  margin: 10px auto;
}

.header button {
  margin: 25px;
  padding: 25px;
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
  background: none;
  border: 2px solid whitesmoke;
  letter-spacing: 5px;
  transition: 0.3s ease;
}

/* Lui pour décaler le chevron du text il fait :
. header i {
  transform: translateX(7px);
}
 */

.header button:hover {
  scale: 1.1;
  cursor: pointer;
  border-radius: 150px;
}

.intro {
  background: rgb(241, 241, 241);
  padding: 80px;

}

.intro p {
  width: 80%;
  margin: 0 auto; /* a permis de centrer le texte horizontalement */
  color: rgb(17, 17, 17);
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 50px;
}

.main-GC-courses {
  background: rgb(19, 19, 19);
}

.main-GC-courses-container {
  display: flex;
  padding: 100px 0 70px 0;
  width: 80%;
  margin: 0 auto;
  align-items: flex-end; /* permet de les aligner sur la même ligne du bas */
}

.list-courses {
  margin: 0 auto;
  text-align: center;
  margin: 0 3%;
}

.list-courses img {
  width: 70%;
}

.list-courses h2 {
  text-transform: uppercase;
  padding: 15px;
  font-size: 1.3rem;
}

.list-courses p {
  line-height: 20px;
}

.list-courses button {
  margin: 50px;
  padding: 15px 40px;
  background: rgba(149, 37, 177, 0.589);
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid whitesmoke;
  transition: 0.3s ease;
  border-radius: 100px;
    /* ci-dessous test shining effet when hover */
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
}

.list-courses button:hover {
  scale: 1.1;
  cursor: pointer;
  border: 2px solid transparent;
  /* ci-dessous test shining effet when hover */
  background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main-news {
  background: rgb(241, 241, 241);
  color: black;
  padding: 100px 0;
}

.header-news {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 4%;
}

.left-part-hn h2 {
  font-family: "Montserrat-Thin";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 2px;
}

.left-part-hn p {
  font-weight: bold;
  padding: 10px 0;
}

.right-part-hn button {
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 15px 25px;
  transition: 0.3s ease;
}

.right-part-hn button:hover {
  scale: 1.1;
  cursor: pointer;
  background: rgba(39, 39, 39, 0.801);
  color: whitesmoke;
  border: none;
  border-radius: 15px;
}

.middle-news-container {
  display: flex;
  padding: 60px 0 0 0;
  width: 80%;
  margin: 0 auto;
}

.news {
  margin: 0 5%;
  width: 33%; /* vu qu'il y a du text si on ne spécifie pas la width il réparti les 3 boîtes en privilégiant le texte sur 1 ligne */
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  /* pour mettre le bouton en aboslute */
}

.img-news img {
  border-radius: 3px;
  box-shadow: 0px 0px 12px 0px rgba(36, 36, 36, 0.473);
  width: 100%;
  object-fit: cover;
}

.news h3 {
  margin: 20px 0px;
}

.news p {
  font-size: 0.9rem;
  line-height: 23px;
}

.news a {
  /* Je ne sais pas pk mais qund j'ai voulu supp le souligné si j'écrivais la classe .link au lieu du a ça fonctionnait pas... */
  display: block;
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-decoration: none;
  color: #5F04AA;
  transition: 0.5s;
  position: absolute;
  bottom: 2%;
}

.news a i {
  transform: translateX(10px); /* pour écarter le chevron */
}

.news a:hover {
  font-size: 0.9rem;
  cursor: pointer;
  background: var(--color1);
  color: whitesmoke;
  padding: 15px 25px 15px 15px;
  border: none;
  border-radius: 150px;
  text-align: center;
  transform: translateY(30px);
}

/* pour moi il faudrait sortir lesa du flex et en faire un autre en dessous mais donc toucher au html... à voir si j'ai raison ou si y'a une autre méthode ! */

.contact {
  background: white;
  color: black;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 80px 0;
  width: 80%;
  align-items: flex-start;
}

.list {
  width: 25%;
  margin: 0 2%;
  padding: 0 40px;
  line-height: 30px;
}

.list h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.list a {
  line-height: 40px;
  text-decoration: none;
  color: #5F04AA;
  transition: 0.2s;
}

.list a:hover {
  background: rgba(206, 206, 206, 0.452);
  border-radius: 150px;
  padding: 10px;
}

.Network {
  padding: 30px 0 0 0;
}

.network-logos i {
  font-size: 1.2rem; /* la taille des i est en rem (font-size) */
  letter-spacing: 15px;
}

.copyright {
  padding: 30px 0 0 0;
}

.contact-media {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  align-items: center;
  justify-items: center;
  position: relative;
}

.contact-media::before {
  content: "";
  position: absolute;
  background: rgba(219, 219, 219, 0.548);
  height: 2px;
  width: 80%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.media-logos {
  width: 85%;
  display: flex;
  justify-content: space-around;
}

.media-logos img {
  width: 100%;
}
/* lui a fait cette partie en flex : peut-être moins difficile de centrer les images de la gauche */

.media-text h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.media-text p {
  padding: 20px 0;
  font-weight: bold;
}

footer {
  background: #171717;
}

footer h3 {
  text-align: center;
  padding: 30px 0;
  font-family: "Montserrat-Thin";
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 0 0 40px 0;
}



@media screen and (max-width: 1600px) {
  .list p {
    font-size: 0.9rem;
  }
  .list li {
    font-size: 0.9rem;
  }
  .list a {
    font-size: 0.9rem;
  }
  .list {
    margin: 0 0;
  }
  .intro p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1530px) {
  .list-courses button {
    font-size: 0.7rem;
    padding: 15px 20px;
  }
  .intro p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1400px) {
  .media-logos {
    width: 100%;
  }
  nav li {
    font-size: 0.9rem;
  }
  .right-part-hn button {
    font-size: 1.1rem;
  }
  .intro p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1250px) {
  .right-part-hn button {
    font-size: 1rem;
  }
  .left-part-hn h2 {
    font-size: 1.8rem;
  }
  .left-part-hn p {
    font-size: 0.9rem;
  }
  .intro p {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 1200px) {
  footer img {
    width: 90%;
  }
  nav li {
    font-size: 0.8rem;
  }
  .right-part-hn button {
    font-size: 0.9rem;
  }
  .intro p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1100px) {
  .header-news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-part-hn {
    margin: 15px auto;
    text-align: center;
  }
  .news a {
    bottom: 2%;
  }
}

@media screen and (max-width: 1050px) {
  footer img {
    width: 80%;
  }
  .contact {
    display: none; /* pour le faire disparaître en mode téléphone */
  }
  nav li {
    font-size: 0.7rem;
  }
  .header-news {
    display: flex;
    flex-direction: column;
  }
  .middle-news-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news {
    text-align: center;
    width: 80%;
    height: 500px;
  }
  .news img {
    width: 50%;
  }
  .main-GC-courses-container {
    flex-direction: column;
    justify-content: center;align-items: center;
  }
  .list-courses img {
    width: 40%;
  }
  .header h1 {
    font-size: 1.8rem;
  }
  .header button {
    font-size: 0.9rem;
  }
  .intro p {
    font-size: 1.3rem;
  }
  .intro {
    padding: 50px;
  }
  .news a {
    position: relative;
    padding-top: 20px;
  }
  .news a:hover {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 950px) {
  nav li {
    font-size: 0.7rem;
  }
  nav ul {
    width: 90%;
  }
  .intro p {
    font-size: 1.2rem;
    line-height: 40px;
  }
}

@media screen and (max-width: 850px) {
  footer img {
    width: 70%;
  }
  nav {
    display: none;
  }
  .header h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .header button {
    padding: 15px;
    font-size: 0.7rem;
    margin: 5px auto 25px auto;
  }
  #logo-GC-header img {
    width: 50%;
    margin: 10px auto;
  }
  .intro p {
    font-size: 1.1rem;
    line-height: 35px;
    width: 90%;
  }
  .header {
    padding: 0 0;
  }
}

@media screen and (max-width: 500px) {
  #logo-GC-header img {
    width: 60%;
  }
  .intro p {
    font-size: 1rem;
  }
  .header {
    background-size: 120%;
  }
}

@media screen and (max-width: 500px) {
  .header h1 {
    font-size: 1.4rem;
  }
  .header button {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 470px) {
  .header h1 {
    font-size: 1.3rem;
  }
  .header button {
    font-size: 0.5rem;
  }
  #logo-GC-header img {
    width: 70%;
  }
  .intro p {
    line-height: 30px;
  }
}

@media screen and (max-width: 440px) {
  .header h1 {
    font-size: 1.2rem;
  }
  .header button {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 400px) {
  .header h1 {
    font-size: 1.1rem;
  }
  .header button {
    padding: 10px;
    font-size: 0.3rem;
  }
  .intro p {
    width: 95%;
  }
  .intro {
    padding: 30px;
  }
  .header {
    background-size: 140%;
  }
}

/* Possibilité de faire aller à la ligne quand plus de place les img footer avec :
flex-wrap: wrap; */