@font-face {
    font-family: 'Bellota';
    src: url(./../fonts/BellotaText-Light.ttf);
}

:root {
    --white1: rgb(254, 255, 243);
    --white2: rgba(237, 237, 237, 0.263);
    --black1: rgb(53, 53, 53);
    --color1: rgb(66, 136, 194);
    --color2: rgba(208, 232, 252, 0.735);
} 

html {
    scroll-behavior: smooth;
    // Permet de ralentir la descente lors du clic sur la flèche du header
  }

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: url(./../img/BG-Page1.jpg) center/cover fixed;
    font-family: Bellota;
    color: var(--black1);
    height: 100vh;

    a {
        text-decoration: none;
        color: var(--black1);
    }

    a:visited {
        text-decoration: none;
        // color: var(--black1);
    }
}

