@font-face {
  font-family: "Bellota";
  src: url(./../fonts/BellotaText-Light.ttf);
}
:root {
  --white1: rgb(254, 255, 243);
  --white2: rgba(237, 237, 237, 0.263);
  --black1: rgb(53, 53, 53);
  --color1: rgb(66, 136, 194);
  --color2: rgba(208, 232, 252, 0.735);
}

html {
  scroll-behavior: smooth;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: url(./../img/BG-Page1.jpg) center/cover fixed;
  font-family: Bellota;
  color: var(--black1);
  height: 100vh;
}
body a {
  text-decoration: none;
  color: var(--black1);
}
body a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Fredericka";
  src: url(./../fonts/FrederickatheGreat-Regular.ttf);
}
header {
  height: 80vh;
  text-align: center;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background: var(--white1);
  bottom: 100px;
  left: 10%;
}
header nav {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  width: 80%;
  background: var(--white2);
  border-radius: 2px;
  transition: 0.2s;
}
@media screen and (max-width: 600px) {
  header nav {
    width: 90%;
    font-size: 0.8rem;
  }
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav li {
  width: 25%;
}
header nav li a {
  transition: 0.2s;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav li a:hover {
  background: var(--white1);
  cursor: pointer;
  color: var(--color1);
  border-radius: 2px;
}
header h1 {
  margin: 150px auto 50px auto;
  font-family: Fredericka;
  font-size: 4rem;
  font-weight: lighter;
  color: var(--white1);
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }
}
header .textIntro {
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
  background: rgba(147, 182, 209, 0.537);
  box-shadow: 0 0 12px 6px rgba(147, 182, 209, 0.54);
  color: var(--white1);
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  header .textIntro {
    width: 70%;
  }
}
header #arrow {
  margin: 100px auto;
  border: 3px solid var(--white1);
  border-radius: 150px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: var(--white1);
  font-size: 3rem;
}
header #arrow:hover {
  transform: scale(1.2);
  border: 3px dotted var(--white1);
  color: var(--white1);
}
@media screen and (max-width: 600px) {
  header #arrow {
    font-size: 2rem;
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-height: 590px) {
  header #arrow {
    margin: 50px auto;
  }
}

main {
  padding-bottom: 10px;
}
main .section {
  background: rgba(214, 222, 231, 0.768);
  width: 80%;
  margin: 30px auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
main .section h2 {
  padding-bottom: 30px;
}
main .s1-left, main .s2-right, main .s3-left, main .s4-right {
  padding: 20px;
}
main .s1-right {
  background: url(./../img/BG-CodeTP.png) center/cover;
}
main .s2-left {
  background: url(./../img/jewelryBG.png) center/cover;
}
main .s3-right {
  background: url(./../img/photoBG2.webp) center/cover;
}
main .s4-left {
  background: url(./../img/chill.jpg) center/cover;
}/*# sourceMappingURL=index.css.map */