/* SIDE BAR */
    #side-bar {
        position: absolute;
        width: 230px;
        height: 100%;
        background: var(--color3);
        top: 0;
        left: -230px;
        transition: 0.5s ease-out;
        z-index: 4;
    
        &.active {
            left: 0;
            /* left: 0px !important; */
            /* On peut faire avec le !important mais ici vu que l'id et la classe sont dans la même division on peut écrire sur les param de cette class : #sidebar.active {} = si jamais #sidebar a la class .active alors {} */
          }
          /* Si .active existe alors les spans : */
          .active span {
            position: absolute;
          }
          .active span:nth-child(1) {
            transform: rotate(45deg);
            background: var(--white1);
          }
          .active span:nth-child(2) {
            opacity: 0;
          }
          .active span:nth-child(3) {
            transform: rotate(-45deg);
            background: var(--white1);
          }
          .active ~ main {
            opacity: 0.3;
          }
          
          .toggle-btn {
            position: absolute;
            top: 20px;
            left: 250px;
            cursor: pointer;
            height: 50px;
            width: 50px;
        
            span {
                width: 40px;
                height: 5px;
                border-radius: 5px;
                background: var(--color2);
                display: block;
                margin-top: 4px;
                transition: 0.3s ease;
            }
          }
          
          li {
            color: var(--white1);
            list-style: none;
            font-family: Cousine;
            font-size: 1.5rem;
            cursor: pointer;
            padding-left: 0px;
        
            &:hover {
                background: var(--color2);
                color: var(--black1);
            }
          }
      }
      