main {
    .title {
        background: var(--color3);
        width: 50%;
        border-radius: 7px;
        margin: 20px auto 40px auto;

        @media screen and (max-width: 530px) {
            width: 60%;
        }

        @media screen and (max-width: 350px) {
            width: 70%;
            margin-right: 10px;
        }

        h1, h2 {
            font-family: Cousine;
            font-size: 2.5rem;
            text-align: center;

            color: var(--color1);
            padding: 15px;
            user-select: none;
            transition: 0.2s;

            @media screen and (max-width: 530px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 350px) {
                font-size: 1.7rem;
            }
        }

        h2 {
            padding-top: 0;
            font-size: 1.2rem;

            @media screen and (max-width: 350px) {
                font-size: 1rem;
            }
        }
    }
    
    .projects-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 90%;
        margin: 0 auto;

        @media screen and (max-width: 893px) {
            grid-template-columns: 1fr;
            grid-template-rows: 37% 63%;
        }

        .projects {
            background: var(--white1);
            margin: 50px 30px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 7px 1px var(--color2);
            color: var(--black1);
            font-family: Cousine;
            text-align: center;
            backdrop-filter: blur(5px);

            @media screen and (max-width: 893px) {
                margin: 20px;
            }

            h2 {
                font-weight: bold;
                font-size: 1.8rem;
                padding-bottom: 15px;
                color: var(--color3);
            }



            .TpList {
                font-weight: bold;

                li {
                    padding: 5px;
                    transition: 0.2s;

                    &:hover {
                        color: var(--color2);
                        transform: scale(1.2);
                    }

                    a, a:visited {
                        color: var(--black1);
                        font-size: 1.2rem;
                    }

                    a {
                        transition: 0.2s;
                        &:hover {
                            color: var(--color2);
                        }
                    }

                }
            }
        }
    }    
}
