main {
    padding-bottom: 10px;
    
    .section {
        background: rgba(214, 222, 231, 0.768);
        width: 80%;
        margin: 30px auto;
        border-radius: 5px;
        padding: 20px;

        h2 {
            padding-bottom: 30px;
        }
    }
}