@font-face {
    font-family: 'Bellota';
    src: url(./../../assets/fonts/BellotaText-Light.ttf);
}

body {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(118, 227, 209, 1) 50%, rgba(236, 240, 216, 1) 100%);
}

h1 {
    font-family: Bellota;
    text-align: center;
    margin-top: 200px;
    color: rgb(72, 72, 72);
}